* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.Cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background: linear-gradient(to right, rgb(231, 127, 200), rgb(139, 31, 107));
}

.Cabecalho p, h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.Cabecalho form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Cabecalho button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30%;
    height: 30px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    font-size: 16px;
    font-weight: 500;
    text-shadow: none;    
    margin-top: 3rem;
}
